/*@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');*/

@font-face {
    font-family: 'Cardo';
    src: url('fonts/Cardo-Bold.ttf');
    src: url('fonts/Cardo-Italic.ttf');
    src: url('fonts/Cardo-Regular.ttf');
}

* {
    font-family: 'Cardo', serif;
}

#main-section {
    background-image: url('../img/home-mobile.jpg');
}

@media (min-width: 640px) {
    #main-section {
        background-image: url('../img/home-sm.jpg');
    }
}

@media (min-width: 768px) {
    #main-section {
        background-image: url('../img/home.jpg');
    }
}

@media (min-width: 1024px) {
    #main-section {
        background-image: url('../img/home.jpg');
    }
}

@keyframes collapsible {
    0% {
        height: 96px;
    }
    25% {
        height: 192px;
    }
    50% {
        height: 288px;
    }
    100% {
        height: 384px;
    }
}

.collapsed {
    animation-name: collapsible;
    animation-duration: 75ms;
}

#itinerary-section {
    background-color: #F8F2E1;
}

#dresscode-section {
    background-image: url('../img/dress-code-bg.jpg');
}

#gift-table-section {
    background-color: #E7D8B1;
}

.secondary-color {
    background-color: #C8AC94;
}

.attendee-bg {
    background-color: #F8F6F4;
}

.secondary-color-1 {
    background-color: #9A7715 !important;
}

#attendee-form>div>label:after {
    content: "*";
    display: inline-block;
    color: #C8AC94;
}

#attendee-form>div>input[type="text"]::placeholder {
    color: #9DA49C;
}